:root {
	--light: #f9faf8;
	--dark: #1f2937;
	--secondary: #e5e7eb;
	--blue: #3882f6;
	--maxwidth: 1024px;
	--gap: 2rem;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--dark);
}

body > * {
	width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

p {
	line-height: 1.2em;
}

.container {
	width: 100%;
	display: flex;
	gap: var(--gap);
	max-width: var(--maxwidth);
	margin: 0 auto;
	align-items: center;
	padding: var(--gap) 0;
}

.header {
	background-color: var(--dark);
	color: var(--light);
	width: 100%;
}

.header .logo {
	font-weight: bold;
	font-size: 24px;
	flex: 1 0 auto;
}

.header .header-link {
	flex: 0 1 auto;
	font-size: 18px;
	color: var(--secondary);
}

.hero {
	background-color: var(--dark);
	color: var(--light);
	width: 100%;
}

.hero .container > * {
	width: 50%;
}

.hero .content {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.hero p {
	color: var(--secondary);
	font-size: 18px;
}

.hero img {
	width: 100%;
	height: auto;
}

h1 {
	font-weight: 900;
	font-size: 48px;
}

h2 {
	font-size: 36px;
	font-weight: 900;
}

button {
	background-color: var(--blue);
	color: var(--light);
	padding: 0.5rem 2rem;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	border: none;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.information .container {
	flex-direction: column;
}

.cards {
	display: flex;
	gap: clamp(2rem, 10%, 5rem);
	padding: 0 var(--gap);
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
}

.card .image {
	height: 200px;
	border: 5px solid var(--blue);
	border-radius: 10px;
}

.testimonials {
	background-color: var(--secondary);
	color: var(--dark);
}

.quote {
	max-width: 80%;
	margin: var(--gap) auto;
}

.quote .text {
	font-style: italic;
	font-size: 36px;
	font-weight: 300;
}

.quote .source {
	font-weight: 700;
	text-align: right;
}

.quote .source::before {
	content: '-';
	font-weight: 700;
}

.cta {
	width: 100%;
	border-radius: 10px;
	margin: calc(2 * var(--gap)) 0;
	padding: calc(1.5 * var(--gap)) calc(4 * var(--gap));
	background-color: var(--blue);
	color: var(--light);
	display: flex;
	gap: var(--gap);
	justify-content: space-between;
}

.cta .text p {
	color: var(--secondary);
}

.cta button {
	border: 3px solid var(--light);
}

footer {
	background-color: var(--dark);
	color: var(--light);
}

footer .container {
	justify-content: center;
}
